<style type="text/css">
    .im {
        color: initial !important;
    }

    .ExternalClass {
        width:100%;
    }

    .ExternalClass, .ExternalClass p,
    .ExternalClass span, .ExternalClass font,
    .ExternalClass td, .ExternalClass div {
        line-height: 100%;
    }

    table td {
        border-collapse: collapse;
    }

    .granule {
        display:inline;
        color: #000 !important
    }

    .granule-small {
        display:none;
        color: #000 !important
    }

    .granule-medium {
        display:none;
        color: #000 !important
    }
    @media only screen and (max-width: 750px) {
        .granule {display:none;}
        .granule-medium {display:inline;}
        .granule-small {display:none;}
    }
    @media only screen and (max-width: 450px) {
        .granule {display:none;}
        .granule-medium {display:none;}
        .granule-small {display:inline;}
    }
</style>
