[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
"61ea59b" = {path = "./../../modules/hyp3_events"}
ordered-set = "*"
"boto3" = "*"

[dev-packages]
hypothesis = "*"

[requires]
python_version = "3.6"
