[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
"jinja2" = "*"
"61ea59b" = {path = "./../../modules/hyp3_events"}
"3da5cae" = {path = "./../../modules/hyp3_db"}

[dev-packages]
pytest = "*"
mock = "*"
"boto3" = "*"

[requires]
python_version = "3.6"
