{% import 'functions/macros.html.j2' as macros %}

<tr style="{{ macros.color_background() }}margin-top:20px">
    <td width="100%" style="border-top: 1px solid #D4D3D3;" id="footer">
        {{ macros.std_table() }}
        <tr style="padding: 0px;" border="0">
            <td valign="bottom" align="left"  style="padding: 0px" border="0" width="100%">
                <div style="margin-right:auto;margin-left:auto;width:95%" width="95%">
                    <p style="margin: 1em 0; color: #777">
                        You&#39;re recieving this e-mail because you use ASF&#39;s HyP3
                        system. <a href="{{ unsubscribe_url }}" style="color:#444">Unsubscribe</a>
                        <br/>
                        Try out the <a href="{{ api_url }}" style="color:#444">HyP3 API</a>!
                    </p>
                </div>
                </a>
            </td>
        </tr>
        </table>
    </td>
</tr>
