{% import 'functions/macros.html.j2' as macros %}
  <tr>
    <td width="100%" style="border-bottom: 1px solid #D4D3D3;" id="header">
      {{ macros.std_table() }}
          <tr style="padding: 0px;"> <td valign="top" align="left" style="padding: 0px;min-height: 50px;margin-top:10px" border="0" width="100%" height="100%">
              {{ macros.img("https://vertex.daac.asf.alaska.edu/static/images/alaska_satellite_facility_1000.png", "Alaska Satellite Facility", width="500px")}}
      </td> </tr>
          <tr> <td>
            <p style="margin: 1em 0;color:#999;margin:5px 0px 5px 20px">
                HyP3 (Hybrid Pluggable Processing Pipeline)
            </p>
          </td> </tr>
      </table>
    </td>
  </tr>
