-i https://pypi.org/simple
atomicwrites==1.1.5
attrs==18.1.0
boto3==1.7.47
botocore==1.10.47
docutils==0.14
jmespath==0.9.3
mock==2.0.0
more-itertools==4.2.0
pbr==4.0.4
pluggy==0.6.0
py==1.5.4
pytest==3.6.2
python-dateutil==2.7.3; python_version >= '2.7'
s3transfer==0.1.13
six==1.11.0
