[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
requests = "*"
asf-granule-util = "*"
"0c4b69c" = {path = "./../hyp3_events"}

[dev-packages]
pytest = "*"
hypothesis = "*"
mock = "*"

[requires]
python_version = "3.6"
