[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
ordered-set = "*"
"boto3" = "*"
"0c4b69c" = {path = "./../hyp3_events"}

[dev-packages]
hypothesis = "*"
mypy = "*"
pytest-timeout = "*"

[requires]
python_version = "3.6"
