[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
ordered-set = "*"
"boto3" = "*"
asf-granule-util = "*"
click = "*"

[dev-packages]
hypothesis = "*"
mypy = "*"
pytest-timeout = "*"
"0c4b69c" = {path = "./../hyp3_events"}
"2647205" = {path = "./../tempaws"}

[requires]
python_version = "3.6"
