[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
"3da5cae" = {path = "./../../modules/hyp3_db"}
"boto3" = "*"
"61ea59b" = {path = "./../../modules/hyp3_events"}

[dev-packages]
pytest = "*"
mock = "*"
coverage = "*"
pytest-cov = "*"
hypothesis = "*"

[requires]
python_version = "3.6"
